#body {
  background-color: var(--background);
  flex-direction: row;
  min-height: 100vh;
  padding: 16px;
}

/*-------------------------*/
#form {
  width: 100%;
  max-width: 480px;
  z-index: 99;
}

#form .icon {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 1px 4px 6px 2px #00000023;
}

#form h1 {
  color: var(--button);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

#form p {
  margin-bottom: 25px;
  max-width: 360px;
  text-align: center;
  font-size: 1.2rem;
  color: #000000c7;
}

/*-------------------*/
#form form {
  width: 100%;
  align-items: flex-start;
}

#form label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bolder;
  margin-bottom: -10px;
}

#form input {
  width: 100%;
  background-color: transparent;
  border-bottom: solid 1px var(--button);
  padding: 8px 4px;
  margin-bottom: 16px;
}

#form form button {
  margin-top: 25px;
  align-self: center;
  border-radius: 50px;
  font-weight: 600;
  color: var(--button);
  background-color: #fff;
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  cursor: pointer;
  height: 50px;
  width: 60%;
}

#form form button:hover {
  opacity: 0.5;
  transition: 0.5s;
}

#form form button .arrow {
  color: var(--button);
  font-weight: bolder;
  margin-left: 8px;
  font-size: 1.3rem;
  opacity: 0.7;
}

input::placeholder {
  color: #00000023;
}

@media (orientation: landscape) and (min-height: 660px)  {
  #form {
    background-color: #fff;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
}

@media (orientation: landscape) and (max-height: 660px)  {
  #body {
    align-items: flex-start;
  }
}