<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="../sellers/ipcRenderer.js" defer></script>
  <script src="../sellers/preload.js" defer></script>
  <link rel="stylesheet" href="./styles.css" />
  <title>Sellers</title>
</head>
<body>
  <header id="topbar-modal" class="container">
    <div class="container" style="-webkit-app-region: drag; height: 50px; flex-direction: row;">
      <div class="container">
        <h1>Sellers</h1>
      </div>
    </div>

    <div class="container box-btns">
      <button id="modal-minimize-sellers" class="container" style="background-image: url('../../../assets/google-icons/white/minimize.svg');"></button>
      <button id="modal-close-sellers" class="container" style="background-image: url('../../../assets/google-icons/white/close.svg'); margin-left: 12px;"></button>
    </div>
  </header>

  <section id="body">
    <h1>Sellers</h1>
  </section>
</body>
</html>